.mstheme
{
	nav-banner-image: url(kdabnr.gif);
	separator-image: url(kdarule.gif);
	list-image-1: url(kdabull1.gif);
	list-image-2: url(kdabull2.gif);
	list-image-3: url(kdabull3.gif);
	navbutton-horiz-pushed: url(kdahns.gif);
	navbutton-horiz-normal: url(kdahnd.gif);
	navbutton-horiz-hovered: url(kdahnm.gif);
	navbutton-vert-pushed: url(kdavns.gif);
	navbutton-vert-normal: url(kdavnd.gif);
	navbutton-vert-hovered: url(kdavnm.gif);
	navbutton-home-normal: url(kdahom.gif);
	navbutton-home-hovered: url(kdahomm.gif);
	navbutton-home-pushed: url(kdahom.gif);
	navbutton-up-normal: url(kdaup.gif);
	navbutton-up-hovered: url(kdaupm.gif);
	navbutton-up-pushed: url(kdaup.gif);
	navbutton-prev-normal: url(kdapre.gif);
	navbutton-prev-hovered: url(kdaprem.gif);
	navbutton-prev-pushed: url(kdapre.gif);
	navbutton-next-normal: url(kdanex.gif);
	navbutton-next-hovered: url(kdanexm.gif);
	navbutton-next-pushed: url(kdanex.gif);
}
.mstheme-bannertxt
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 6;
	color: rgb(255,255,153);
}
.mstheme-horiz-navtxt
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 2;
	color: rgb(255,255,204);
}
.mstheme-vert-navtxt
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 2;
	color: rgb(255,255,204);
}
.mstheme-navtxthome
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 1;
	color: rgb(255,255,204);
}
.mstheme-navtxtup
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 1;
	color: rgb(255,255,204);
}
.mstheme-navtxtprev
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 1;
	color: rgb(255,255,204);
}
.mstheme-navtxtnext
{
	font-family: "Comic Sans MS", Arial, Helvetica;
	font-size: 1;
	color: rgb(255,255,204);
}
UL
{
	list-style-image:url(kdabull1.gif);
}
UL UL
{
	list-style-image:url(kdabull2.gif);
}
UL UL UL
{
	list-style-image:url(kdabull3.gif);
}
