.mstheme     { nav-banner-image: url(kdabnr.gif); separator-image: url(kdarule.gif); 
               list-image-1: url(kdabull1.gif); list-image-2: 
               url(kdabull2.gif); list-image-3: url(kdabull3.gif); 
               navbutton-horiz-pushed: url(kdahns.gif); 
               navbutton-horiz-normal: url(kdahnd.gif); 
               navbutton-horiz-hovered: url(kdahnm.gif); 
               navbutton-vert-pushed: url(kdavns.gif); navbutton-vert-normal: 
               url(kdavnd.gif); navbutton-vert-hovered: url(kdavnm.gif); 
               navbutton-home-normal: url(kdahom.gif); 
               navbutton-home-hovered: url(kdahomm.gif); 
               navbutton-home-pushed: url(kdahom.gif); navbutton-up-normal: 
               url(kdaup.gif); navbutton-up-hovered: url(kdaupm.gif); 
               navbutton-up-pushed: url(kdaup.gif); navbutton-prev-normal: 
               url(kdapre.gif); navbutton-prev-hovered: url(kdaprem.gif); 
               navbutton-prev-pushed: url(kdapre.gif); navbutton-next-normal: 
               url(kdanex.gif); navbutton-next-hovered: url(kdanexm.gif); 
               navbutton-next-pushed: url(kdanex.gif) }
.mstheme-bannertxt { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 6; color: 
               rgb(255,255,153) }
.mstheme-horiz-navtxt { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204) }
.mstheme-vert-navtxt { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204) }
.mstheme-navtxthome { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204) }
.mstheme-navtxtup { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204) }
.mstheme-navtxtprev { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204) }
.mstheme-navtxtnext { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204) }
ul           { list-style-image: url('kdabull1.gif') }
ul ul        { list-style-image: url('kdabull2.gif') }
ul ul ul     { list-style-image: url('kdabull3.gif') }
a:link       { color: rgb(0,0,255) }
a:visited    { color: rgb(204,0,0) }
a:active     { color: rgb(255,153,0) }
body         { color: rgb(0,51,153); background-color: rgb(255,255,204) }
h1           { color: rgb(51,0,204) }
h2, marquee  { color: rgb(51,0,204) }
h3           { color: rgb(51,0,204) }
h4           { color: rgb(51,0,204) }
h5           { color: rgb(51,0,204) }
h6           { color: rgb(51,0,204) }
button       { background-color: rgb(51,0,204); color: white; border-color: rgb(0,0,255) }
label, .MSTHEME-LABEL { color: rgb(0,51,153) }
textarea     { color: black; border-color: rgb(51,0,204) }
fieldset     { color: black; border-color: rgb(51,0,204) }
legend       { color: rgb(51,0,204) }
select       { color: black; border-color: rgb(51,0,204) }
table        { table-border-color-light: rgb(0,0,255); table-border-color-dark: rgb(51,0,204); 
               color: rgb(0,51,153); border-color: rgb(51,0,204) }
caption      { color: rgb(51,0,204) }
th           { color: rgb(0,51,153) }
hr           { color: rgb(51,0,204) }
td           { border-color: rgb(51,0,204) }
.mstheme-bannertxt a:active { color: rgb(255,255,153) }
.mstheme-bannertxt a:link { color: rgb(255,255,153) }
.mstheme-bannertxt a:visited { color: rgb(255,255,153) }
.mstheme-bannertxt-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 6; color: 
               rgb(255,255,153); background-image: url('kddbnr.gif') }
.mstheme-bannertxt-g a:active { color: rgb(255,255,153) }
.mstheme-bannertxt-g a:link { color: rgb(255,255,153) }
.mstheme-bannertxt-g a:visited { color: rgb(255,255,153) }
.mstheme-bannertxt-s { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 6; color: 
               rgb(255,255,153) }
.mstheme-bannertxt-s a:active { color: rgb(255,255,153) }
.mstheme-bannertxt-s a:link { color: rgb(255,255,153) }
.mstheme-bannertxt-s a:visited { color: rgb(255,255,153) }
.mstheme-horiz-navtxt a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt a:visited { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204); background-image: url('kddhnd.gif') }
.mstheme-horiz-navtxt-g a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204); background-image: url('kddhns.gif') }
.mstheme-horiz-navtxt-gs a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(255,255,204) }
.mstheme-navtxthome a:active { color: rgb(255,255,204) }
.mstheme-navtxthome a:link { color: rgb(255,255,204) }
.mstheme-navtxthome a:visited { color: rgb(255,255,204) }
.mstheme-navtxthome-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204); background-image: url('kddhom.gif') }
.mstheme-navtxthome-g a:active { color: rgb(255,255,204) }
.mstheme-navtxthome-g a:link { color: rgb(255,255,204) }
.mstheme-navtxthome-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtnext a:active { color: rgb(255,255,204) }
.mstheme-navtxtnext a:link { color: rgb(255,255,204) }
.mstheme-navtxtnext a:visited { color: rgb(255,255,204) }
.mstheme-navtxtnext-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204); background-image: url('kddnex.gif') }
.mstheme-navtxtnext-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtnext-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtnext-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtprev a:active { color: rgb(255,255,204) }
.mstheme-navtxtprev a:link { color: rgb(255,255,204) }
.mstheme-navtxtprev a:visited { color: rgb(255,255,204) }
.mstheme-navtxtprev-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204); background-image: url('kddpre.gif') }
.mstheme-navtxtprev-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtprev-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtprev-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtup a:active { color: rgb(255,255,204) }
.mstheme-navtxtup a:link { color: rgb(255,255,204) }
.mstheme-navtxtup a:visited { color: rgb(255,255,204) }
.mstheme-navtxtup-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204); background-image: url('kddup.gif') }
.mstheme-navtxtup-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtup-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtup-g a:visited { color: rgb(255,255,204) }
.mstheme-topbar-font a:active { color: rgb(255,255,204) }
.mstheme-topbar-font a:link { color: rgb(255,255,204) }
.mstheme-topbar-font a:visited { color: rgb(255,255,204) }
.mstheme-topbar-font-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204); background-image: url('kdgbl.gif') }
.mstheme-topbar-font-g a:active { color: rgb(255,255,204) }
.mstheme-topbar-font-g a:link { color: rgb(255,255,204) }
.mstheme-topbar-font-g a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204); background-image: url('kddvnd.gif') }
.mstheme-vert-navtxt-g a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 2; color: 
               rgb(255,255,204); background-image: url('kddvns.gif') }
.mstheme-vert-navtxt-gs a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(255,255,204) }
.mstheme     { navbutton-background-color: rgb(255,255,102); top-bar-button: url(kdgbl.gif) }
.mstheme-topbar-font { font-family: 'Comic Sans MS', Arial, Helvetica; font-size: 1; color: 
               rgb(255,255,204) }
body         { font-family: 'Comic Sans MS', Arial, Helvetica; background-image: 
               url('kdbkgnd.jpg') }
h1           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 24pt }
h2           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 18pt }
h3           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 14pt }
h4           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 12pt }
h5           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 10pt }
h6           { font-family: 'Comic Sans MS', Arial, Helvetica; font-weight: normal; 
               font-style: normal; font-size: 8pt }
button       { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal; border-style: solid; border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal }
textarea     { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal; border-style: solid; border-width: 1pt }
fieldset     { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal; border-style: solid; border-width: 1pt }
legend       { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal }
select       { font-size: 8pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal; border-style: solid; border-width: 1pt }
table        { font-family: 'Comic Sans MS', Arial, Helvetica; font-style: normal }
caption      { font-size: 14pt; font-family: 'Comic Sans MS', Arial, Helvetica; font-style: 
               normal }
th           { font-family: 'Comic Sans MS', Arial, Helvetica; font-style: normal }
marquee      { font-size: 14pt; font-family: 'Comic Sans MS', Arial, Helvetica }
